.start-btn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        transform: scale(1.05);

        .start-btn__img--default {
            opacity: 0;
        }

        .start-btn__img--hover {
            opacity: 1;
        }
    }

    &:active {
        transform: scale(0.98);
    }

    &__img {
        display: block;
        max-width: 250px;
        height: auto;

        &--hover {
            position: absolute;
            inset: 0; 
            opacity: 0;
        }
    }
}